<h1>Delete Note</h1>
<hr />

<div *ngIf="note">
    <div>
        <label>Title: </label>
        <span>{{note.Title}}</span>
    </div>
    <div>
        <label>Content: </label>
        <span>{{note.Content}}</span>
    </div>
    <div>
        <label>Created At: </label>
        <span>{{note.CreatedUtc | date: 'fullDate'}}</span>
    </div>
    <div>
        <label>Last Modified: </label>
        <span>{{note.ModifiendUtc | date: 'fullDate'}}</span>
    </div>

    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</div>

<button mat-raised-button color="primary" routerLink="/notes">Back to List</button>